@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Varela Round', sans-serif;
    font-size: 18px;
    color: #fff;
}

main {
    align-items: center;
    background-color: #17202A;
    display: flex;
    flex-direction: row;
    gap: 2em;
    justify-content: center;
    max-height: 100vh;
    padding: 1em;
    width: 100%;
}

#matriz-entrada {
    display: grid;
    grid-template-columns: repeat(7, minmax(1.5em, 3.5em));
    grid-template-rows: repeat(9, minmax(1.5em, 3.5em));
    align-items: center;
    justify-content: center;
    gap: 0.2em;
}

/* section .inputs[type=checkbox] {
    appearance: none;
    background-color: gray;
    height: 100%;
    border: none;
    outline-color: none;
}
*/
/* 
#matriz-entrada .inputs[type=text]: {
    background-color: red;

} */

#matriz-entrada .inputs {
    background-color: #17202A;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 2em;
    font-weight: bold;
    height: 100%;
    outline-color: none;
    text-align: center;
}

.container-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.container-buttons button {
    /* background-color: rgb(0, 26, 255); */
    background-color: #566573;
    border: none;
    color: white;
    font-weight: bold;
    height: 3em;
    width: 5em;
}

#type-character {
    background-color: #1C2833;
    border: none;
    color: white;
    font-size: 1em;
    font-weight: bolder;
    height: 3em;
    outline: none;
    text-align: center;
    width: 100%;
}

.container-buttons .btn-vaciar {
    background-color: orange;
}

@media only screen and (max-width: 720px) {
    main {
        flex-direction: column;
    }

    .container-buttons {
        flex-direction: row;
    }
}